%h1 
  =t('dealer_manage_form.dealer_index_msg')

%table
  %thead
    %tr
      %th
      %th
      %th
      
  %tbody
    - @dealermanager_managers.each do |dealermanager_manager|
      %tr
        %td= link_to t('general_labels.show_lbl'), dealermanager_manager
        %td= link_to t('general_labels.edit_lbl'), edit_dealermanager_manager_path(dealermanager_manager)
        %td= link_to t('general_labels.destroy_lbl'), dealermanager_manager, :method => :delete, :data => { :confirm => t('dealer_manage_form.confirm_delete_msg') }

%br

= link_to t('dealer_manage_form.new_manager_link'), new_dealermanager_manager_path
