
  <div id="main_content">
   
<% if session[:FirstName] == nil %> 
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
   
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/images/pic_1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Welcome to TekniOnline</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="/login/authenticates/login" role="button" id="login_1" data-target="new">Login</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/images/pic_2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Please Login.</h1>
              <p>TekniOnline is built for Teknion's Partners.</p>
              <p><a class="btn btn-lg btn-primary" href="/login/authenticates/login" role="button" id="login_2">Login</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/images/pic_3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>If you are having problems, please contact us.</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button" id="login_3">Contact Customer Service</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    </div>
<div aria-hidden="true" aria-labelledby="Issue" class="modal fade" id="contentModal" role="dialog" tabindex="-1">
      <div id="modal_content">
       &nbsp;</div>
       <% else %>
       <% create_menu %>
       
       
       <div class="container-fluid">
    <h2>Applications</h2><br>
        <% @main_menu.each do |menu_item| %>
            <table class="table">
            <tbody><h4>
        <%= menu_item[0] %></h4> 
        <tr>
                   <% for i in 1..menu_item.length-1 %>
          <td class="">
        
          <a href="<%= menu_item[i][1] %>">  <img class="image" src="http://lorempixel.com/g/400/200/people" alt="placeholder image" height="100" width="200"><br><%= menu_item[i][0] %> </a>
          </td> 
          
          <% end %> 
               
          </tr>
   </tbody>
 </table>
  <% end %>    


                
    </div> 
       
       
<% end if %>
 </div>
   


       
      
