%div{id: "site_visit_edit_wrapper_#{@site_visit.sitevisit_id}"}

  %h5.modal-header Site Visit
  = render 'form'

  :javascript
    $("form", "#site_visit_edit_wrapper_#{@site_visit.sitevisit_id}").ajaxForm({
      target: "#site_visit_edit_wrapper_#{@site_visit.sitevisit_id}",
      replaceTarget: true
    });
