%h1 Listing teknion_backcharges

%table
  %thead
    %tr
      %th
      %th
      %th
      
  %tbody
    - @teknion_backcharges.each do |teknion_backcharge|
      %tr
        %td= link_to 'Show', teknion_backcharge
        %td= link_to 'Edit', edit_teknion_backcharge_path(teknion_backcharge)
        %td= link_to 'Destroy', teknion_backcharge, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Backcharge', new_teknion_backcharge_path
