
%html
  %head
    %title [[PAGETITLE]]
    %meta{:content => "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    :css
      <!--
      .heading {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; line-height: normal; font-weight: bolder; font-variant: small-caps; letter-spacing: .15em; color: #0000FF; background-color: #CCCCCC}
      .title {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-style: normal; line-height: normal; font-weight: bolder; font-variant: normal}
      .subtitle { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal }
      .issuenumber { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal ; letter-spacing: .05em}
      .labels { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal ; text-align: right; vertical-align: top}
      .tableborder {  background-color: #FFFFFF; border: 1pt none; border-color: #000000 none}
      .values { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal ; text-align: left; vertical-align: top }
      .subheading { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; line-height: normal; font-weight: bold; font-variant: small-caps; letter-spacing: .15em; color: #000000; border-color: #FFFFFF #FFFFFF #000000; border-style: dashed; border-top-width: auto; border-right-width: auto; border-bottom-width: thin; border-left-width: auto}
      .labelsSmall { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal ; text-align: right; vertical-align: top }
      .columnlabel { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal ; text-align: left; vertical-align: top ; text-decoration: underline}
      .valuesright { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal ; text-align: right; vertical-align: top }
      .footertiny { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 6pt; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal ; text-align: center}
      .columnlabelright { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal ; text-align: right; vertical-align: top ; text-decoration: underline }
      .issuenumberlabel { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal ; letter-spacing: 0.05em; text-align: right}
      .valuesrighttotal { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal ; text-align: right; vertical-align: top ; border-color: #000000 black black}
      .valuescentre { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; line-height: normal; font-weight: bolder; font-variant: normal ; text-align: center; vertical-align: top ; color: #999999}
      .messagebold { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 5.5pt; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal }
      .messagesmall { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 5pt; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal }
      .columnlabelsmall { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal ; text-align: left; vertical-align: top ; text-decoration: underline }
      .valuessmall { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal ; text-align: left; vertical-align: top }
      .valuesmedium { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal ; text-align: left; vertical-align: top }
      .valuestiny { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 6pt; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal ; text-align: left; vertical-align: top }
      -->
  %body{:bgcolor => "#FFFFFF", :leftmargin => "0", :marginwidth => "0"}
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :name => "MainTable", :width => "640"}
      %tr
        %td{:colspan => "3"}
          %table{:border => "0", :bordercolordark => "#000000", :cellpadding => "2", :cellspacing => "2", :width => "100%"}
            %tr.title
              %td{:colspan => "5", :nowrap => "nowrap"} TEKNION - TEKCARE II
            %tr.subtitle{:valign => "top"}
              %td.issuenumber{:colspan => "5", :nowrap => "nowrap"}
                RETURN GOODS AUTHORIZATION
                \- BILL OF LADING
            %tr{:valign => "top"}
              %td.messagebold{:colspan => "5"}
                COMBINATION SHORT FORM OF STRAIGHT
                BILL OF LADING-EXPRESS SHIPPING CONTRACT ADOPTED BY RAIL FREIGHT AND
                EXPRESS CARRIERS SUBJECT TO THE JURISDICTION OF THE CANADIAN TRANSPORT
                COMMISSION.
            %tr{:valign => "top"}
              %td.messagesmall{:colspan => "5"}
                Received, subject to the classifications
                and tarrifs in effect on the date of this Original Bill of Lading,
                or, received, subject to the Rules for the Carriage of Express and
                Non-Carload Freight Traffic and tariffs in effect on the date of issue
                of this original Shipping Contract (bill of lading), goods described
                on the face hereof, in apparent good order, except as noted (contents
                and conditions of contents of packages unknown), marked, consigned
                and destined as indicated on the face hereof , which said Company
                agrees to carry to its usual place of delivery at said destination
                if on its road, otherwise to deliver to another carrier on the route
                to said destination. It is mutually agreed, as to each carrier of
                all or any of said goods over all or any portion of said route to
                destination, and as to each party at any time interested in all or
                any of said goods, that every service to be performed hereunder shall
                be subject to all the terms and conditions (which are hereby incorporated
                by reference and have the same force and effect as if the same were
                severally, fully and specifically set forth herein).
            %tr{:valign => "top"}
              %td.messagesmall{:colspan => "5"}
                %ol
                  %li
                    approved by the National Transportation Agency of Canada by
                    the Railway Traffic Liability regulations, dated August 13, 1991.
                  %li
                    of the bill of lading of the water carrier as provided in the
                    tarrifs of Rules and Regulations when said goods are carried by
                    water; or
                  %li
                    of the bill of lading set forth in or prescribed by the relavant
                    tarrifs, classifications, statutes and regulations pertaining
                    to motor carrier's services when said googs are carried by a motor
                    carrier; or
                  %li
                    of the bill of lading form as described in the Trucking Regulations
                    (1988) 120 G.I. II 791 as approved by the Quebec Transport Commission
                    when said goods originating in Quebec are to be carried by a motor
                    carrier; or
                  %li
                    approved by the Canadian Transport Commission by General Order
                    No T-43, as as in effect at December 31, 1987 set forth in the
                    Rules for the Carriage of Express and Non-Carload Freight Traffic
                    and also available at all express and railway agency stations
                    and express and freight office upon request when said goods are
                    carried by a rail carrier and which are agreed to by the shipper
                    and accepted for himself and he assigns.
            %tr.subtitle{:valign => "top"}
              %td{:colspan => "5", :nowrap => "nowrap"}
                %hr/
      %tr
        %td{:colspan => "3"}
      %tr
        %td{:colspan => "3"}
      %tr
        %td{:colspan => "3"}
          %table{:border => "0", :cellpadding => "2", :cellspacing => "2", :width => "100%"}
            %tr
              %td.columnlabel{:width => "39%"} NAME OF CARRIER
              %td.columnlabel{:width => "20%"} POINT OF ORIGIN
              %td.columnlabel{:width => "18%"} SHIPPING DATE
              %td.columnlabel{:width => "23%"} CARRIER'S NO
            %tr
              %td.valuessmall{:width => "39%"} [[CARRIERNAME]]
              %td.valuessmall{:width => "20%"} [[ORIGINPOINT]]
              %td.valuessmall{:width => "18%"} [[SHIPDATE]]
              %td.valuessmall{:width => "23%"} [[CARRIERNO]]
      %tr
        %td{:colspan => "3"}
          %table{:border => "0", :cellpadding => "2", :cellspacing => "0", :width => "100%"}
            %tr
              %td.columnlabel{:colspan => "2"} CONSIGNEE
              %td.columnlabel{:colspan => "4"} FROM
            %tr
              %td.valuessmall{:colspan => "2"} [[C_NAME]]
              %td.valuessmall{:colspan => "4"} [[F_NAME]]
            %tr
              %td.valuessmall{:colspan => "2"} [[C_ADDRESS]]
              %td.valuessmall{:colspan => "4"} [[F_ADDRESS]]
            %tr
              %td.values{:width => "13%"}  
              %td.values{:width => "26%"}  
              %td.messagesmall{:colspan => "4"}
                [MAIL ADDRESS - NOT FOR PURPOSES
                OF DELIVERY]]
            %tr
              %td.columnlabel{:colspan => "2"} DESTINATION
              %td.valuessmall{:colspan => "2"}  
              %td.valuessmall{:colspan => "2"}  
            %tr
              %td.valuessmall{:colspan => "2"} [[D_NAME]]
              %td.valuessmall{:colspan => "2"}  
              %td.valuessmall{:colspan => "2"}  
            %tr
              %td.valuessmall{:colspan => "2"} [[D_ADDRESS]]
              %td.valuessmall{:colspan => "4"}
                %b [[ATTN]]
            %tr
              %td.columnlabel{:width => "13%"} ROUTE
              %td.values{:width => "26%"}  
              %td.labelsSmall{:rowspan => "2", :width => "12%"} CAR INITIAL:
              %td.values{:rowspan => "2", :width => "13%"}  
              %td.labelsSmall{:nowrap => "nowrap", :rowspan => "2", :width => "17%"}
                CAR NO:
                %br/
                TRAILER NO:
                %br/
                CONTAINER NO:
              %td.messagesmall{:rowspan => "2", :width => "19%"}  
            %tr
              %td.valuessmall{:width => "13%"}  
              %td.valuessmall{:width => "26%"}  
      %tr
        %td{:colspan => "3"}
      %tr
        %td{:height => "397", :valign => "top", :width => "409"}
          %table.tableborder{:border => "1", :bordercolordark => "#000000", :bordercolorlight => "#FFFFFF", :cellpadding => "1", :cellspacing => "0", :width => "100%"}
            %tr
              %td.columnlabelsmall{:width => "15%"}
                %div{:align => "center"} PIECES / PACKAGES
              %td.columnlabelsmall{:width => "45%"}
                %div{:align => "center"} DESCRIPTION OF ARTICLES AND SPECIAL MARKS
              %td.columnlabelsmall{:width => "19%"}
                %div{:align => "center"} WEIGHT (SUBJECT TO CORRECTTION)
              %td.columnlabelsmall{:width => "21%"}
                %div{:align => "center"} RATE
            %tr
              %td.values{:width => "15%"}  
              %td.values{:width => "45%"}
                %div{:align => "center"} TEKNION HARDWARE
              %td.values{:width => "19%"}  
              %td.values{:width => "21%"}  
            %tr
              %td.values{:width => "15%"}  
              %td.values{:width => "45%"}  
              %td.values{:width => "19%"}  
              %td.values{:width => "21%"}  
            %tr
              %td.values{:width => "15%"}  
              %td.values{:width => "45%"}  
              %td.values{:width => "19%"}  
              %td.values{:width => "21%"}  
            %tr
              %td.values{:width => "15%"}  
              %td.values{:width => "45%"}  
              %td.values{:width => "19%"}  
              %td.values{:width => "21%"}  
            %tr
              %td.values{:width => "15%"}  
              %td.values{:width => "45%"}  
              %td.values{:width => "19%"}  
              %td.values{:width => "21%"}  
            %tr
              %td.values{:width => "15%"}  
              %td.values{:width => "45%"}  
              %td.values{:width => "19%"}  
              %td.values{:width => "21%"}  
            %tr
              %td.values{:width => "15%"}  
              %td.values{:width => "45%"}  
              %td.values{:width => "19%"}  
              %td.values{:width => "21%"}  
            %tr
              %td.valuessmall{:colspan => "4"}
                %div{:align => "center"} PLEASE CALL
            %tr
              %td.valuessmall{:colspan => "4"}
                %div{:align => "center"}
                  %b [[CARRIER]]
                  AT
                  %b [[CARRIERPHONE]]
            %tr
              %td.valuessmall{:colspan => "4"}
                %div{:align => "center"}
                  PRODUCT MUST BE PACKAGED PROPERLY TO ENSURE SAFE
                  RETURN.
            %tr
              %td.values{:width => "15%"}  
              %td.values{:width => "45%"}  
              %td.values{:width => "19%"}  
              %td.values{:width => "21%"}  
            %tr
              %td.values{:width => "15%"}  
              %td.values{:width => "45%"}  
              %td.values{:width => "19%"}  
              %td.values{:width => "21%"}  
            %tr
              %td.values{:width => "15%"}  
              %td.values{:width => "45%"}  
              %td.values{:width => "19%"}  
              %td.values{:width => "21%"}  
            %tr
              %td.values{:width => "15%"}  
              %td.values{:width => "45%"}  
              %td.values{:width => "19%"}  
              %td.values{:width => "21%"}  
            %tr
              %td.values{:width => "15%"}  
              %td.values{:width => "45%"}  
              %td.values{:width => "19%"}  
              %td.values{:width => "21%"}  
            %tr
              %td.values{:width => "15%"}  
              %td.values{:width => "45%"}  
              %td.values{:width => "19%"}  
              %td.values{:width => "21%"}  
            %tr
              %td.values{:width => "15%"}  
              %td.values{:colspan => "2"}
                %div{:align => "center"} ITEM 82500, CLASS 70 (SUB 2)
              %td.values{:width => "21%"}  
            %tr
              %td.values{:width => "15%"}  
              %td.values{:colspan => "2"}
                %div{:align => "center"} CONTENTS ARE FRAGILE
              %td.values{:width => "21%"}  
            %tr
              %td.values{:width => "15%"}  
              %td.values{:colspan => "2"}
                %div{:align => "center"} PLEASE HANDLE WITH CARE
              %td.values{:width => "21%"}  
            %tr
              %td.values{:width => "15%"}  
              %td.values{:colspan => "2"}  
              %td.values{:width => "21%"}  
            %tr
              %td.values{:width => "15%"}  
              %td.values{:colspan => "2"}  
              %td.values{:width => "21%"}  
        %td{:rowspan => "3", :valign => "top", :width => "231"}
          %table{:border => "1", :bordercolordark => "#000000", :bordercolorlight => "#FFFFFF", :cellpadding => "1", :cellspacing => "0", :width => "100%"}
            %tr
              %td
                %table{:border => "0", :cellpadding => "1", :cellspacing => "1", :width => "100%"}
                  %tr
                    %td.valuessmall
                      %div{:align => "center"}
                        If charges are to be prepaid, write or stamp
                        here, "to be prepaid"
                  %tr
                    %td.valuestiny  
                  %tr
                    %td.title
                      %div{:align => "center"} COLLECT
            %tr
              %td
                %table{:border => "0", :cellpadding => "1", :cellspacing => "1", :width => "100%"}
                  %tr
                    %td.valuestiny  
                  %tr
                    %td.valuessmall
                      RECEIVED $_______________________ TO APPLY
                      IN PREPAYMENT OF THE CHARGES ON THE PROPERTY DESCRIBED.
                  %tr
                    %td.valuessmall  
                  %tr
                    %td.valuessmall  
                  %tr
                    %td.valuessmall
                      %div{:align => "center"}
                        %hr{:width => "85%"}/
                        AGENT OR CASHIER
            %tr{:valign => "top"}
              %td
                %table{:border => "1", :bordercolordark => "#000000", :bordercolorlight => "#FFFFFF", :cellpadding => "1", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td.valuessmall{:colspan => "3"}
                      %div{:align => "center"} FOR CARRIER'S USE CHARGES
                  %tr
                    %td.valuessmall{:width => "54%"} ADVANCE AND/OR BEYOND
                    %td.valuessmall{:width => "12%"}
                      %div{:align => "center"} $
                    %td.valuessmall{:width => "34%"}  
                  %tr
                    %td.valuessmall{:width => "54%"}
                      MISC
                      %br/
                      \ 
                      %br/
                    %td.valuessmall{:width => "12%"}
                      %div{:align => "center"} $
                    %td.valuessmall{:width => "34%"}  
                  %tr
                    %td.valuessmall{:width => "54%"}
                      BASIC
                      %br/
                      \ 
                    %td.valuessmall{:width => "12%"}
                      %div{:align => "center"} $
                    %td.valuessmall{:width => "34%"}  
                  %tr
                    %td.valuessmall{:width => "54%"}
                      PIECE
                      %br/
                      \ 
                    %td.valuessmall{:width => "12%"}
                      %div{:align => "center"} $
                    %td.valuessmall{:width => "34%"}  
                  %tr
                    %td.valuessmall{:width => "54%"}
                      VALUE
                      %br/
                      \ 
                    %td.valuessmall{:width => "12%"}
                      %div{:align => "center"} $
                    %td.valuessmall{:width => "34%"}  
                  %tr
                    %td.valuessmall{:width => "54%"}
                      TOTAL
                      %br/
                      \ 
                    %td.valuessmall{:width => "12%"}
                      %div{:align => "center"} $
                    %td.valuessmall{:width => "34%"}  
            %tr{:valign => "top"}
              %td
                %table{:border => "1", :bordercolordark => "#000000", :bordercolorlight => "#FFFFFF", :cellpadding => "1", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td.valuessmall{:colspan => "4"}
                      %div{:align => "center"}
                        SHIPPER SHOW
                        %br/
                        AMOUNT OF C.O.D.
                  %tr
                    %td.valuessmall{:width => "8%"}
                      %div{:align => "center"}
                        %b C
                    %td.valuessmall{:width => "46%"} AMOUNT
                    %td.valuessmall{:width => "10%"}
                      %div{:align => "center"} $
                    %td.valuessmall{:width => "36%"}  
                  %tr
                    %td.valuessmall{:width => "8%"}
                      %div{:align => "center"}
                        %b O
                    %td.valuessmall{:width => "46%"} FEE
                    %td.valuessmall{:width => "10%"}
                      %div{:align => "center"} $
                    %td.valuessmall{:width => "36%"}  
                  %tr
                    %td.valuessmall{:width => "8%"}
                      %div{:align => "center"}
                        %b D
                    %td.valuessmall{:width => "46%"} TOTAL
                    %td.valuessmall{:width => "10%"}
                      %div{:align => "center"} $
                    %td.valuessmall{:width => "36%"}  
            %tr{:valign => "top"}
              %td
                %table{:border => "1", :cellpadding => "1", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td.valuessmall{:colspan => "2"}
                      %div{:align => "center"} VALUATION
                  %tr.valuestiny
                    %td.valuestiny{:valign => "top", :width => "51%"}
                      $50 OR 50¢
                      LB
                      %input{:name => "checkbox", :type => "checkbox", :value => "checkbox"}/
                    %td.valuetiny{:width => "49%"}
                      $1.00 PER LB
                      %input{:name => "checkbox2", :type => "checkbox", :value => "checkbox"}/
                  %tr
                    %td.valuessmall{:width => "51%"}
                      DECLARED VALUE OF SHIPMENT
                      $
                    %td.valuessmall{:width => "49%"}  
                  %tr
                    %td.valuessmall{:colspan => "2"} SHIPPER'S NUMBER:
                  %tr
                    %td.issuenumber{:colspan => "2"} [[RGAFILENUMBER]]
      %tr
        %td{:width => "409"}
          %table{:border => "1", :cellpadding => "1", :cellspacing => "0", :width => "100%"}
            %tr
              %td{:width => "15%"}  
              %td.valuestiny{:colspan => "5"}
                %div{:align => "center"}
                  WHERE REQUIRED BY THE TARIFF SHIPPER MUST COMPLETE
                  THE FOLLOWING
            %tr.valuestiny
              %td{:height => "60", :valign => "bottom"}
                %div{:align => "center"} TOTAL NO OF PIECES/ PACKAGES
              %td{:height => "60", :valign => "bottom"}
                %div{:align => "center"} DIMENSIONS OF SHIPMENT
              %td{:height => "60", :valign => "bottom"}
                %div{:align => "center"} TOTAL CUBIC FEET
              %td{:height => "60", :valign => "bottom"}
                %div{:align => "center"} DIMENSIONAL WEIGHT
              %td{:height => "60", :valign => "bottom"}
                %div{:align => "center"} TOTAL WEIGHT
              %td{:height => "60", :valign => "bottom"}
                %div{:align => "center"} NUMBER X.L. PIECES/ PACKAGES
            %tr
            %tr
            %tr
      %tr
        %td{:width => "409"}
          %table{:border => "1", :cellpadding => "1", :cellspacing => "0", :width => "100%"}
            %tr
              %td.valuestiny{:width => "48%"} SHIPPER
              %td.valuestiny{:width => "52%"} AGENT
            %tr
              %td.valuessmall{:width => "48%"}
                \       TEKNION
                FURNITURE SYSTEMS
              %td.valuestiny{:width => "52%"}  
            %tr
              %td.valuestiny{:width => "48%"} PER
              %td.valuestiny{:width => "52%"} PER
            %tr
              %td.valuestiny{:width => "48%"}  
              %td.valuestiny{:width => "52%"}  
            %tr
              %td.valuestiny{:width => "48%"}  
              %td.valuestiny{:width => "52%"}  
            %tr
              %td.valuestiny{:colspan => "2"}
                %div{:align => "left"} (permanent postal address of shipper)
      %tr
        %td{:width => "409"}
          %span.subtitle ORIGINAL - NOT NEGOTIABLE
          %span.valuessmall
            %br/
            (THIS BILL OF LADING - EXPRESS SHIPPIPNG CONTRACT IS TO BE SIGNED BY THE
            SHIPPER AND THE CARRIER)
        %td.valuestiny{:valign => "bottom", :width => "231"}
          %div{:align => "right"} E38/10-02
      %tr
        %td{:colspan => "3"}
          %hr{:align => "center", :noshade => "noshade", :width => "50%"}/
      %tr.footertiny
        %td{:colspan => "3"} TEKNION - TekCare II
      %tr.footertiny
        %td{:colspan => "3"} Generated at [[GENERATEDAT]] by [[GENERATEDBY]]
