%p#notice= notice


-#= link_to 'Edit', edit_internal_installers_certifications_installer_path(@internal_installers_certifications_installer)
\|
-#= link_to 'Back', internal_installers_certifications_installers_path
