%div{id: "clarification_edit_wrapper_#{@clarification.clarification_id}"}

  %h5.modal-header Clarification
  = render 'form'

  :javascript
    $("form", "#clarification_edit_wrapper_#{@clarification.clarification_id}").ajaxForm({
      target: "#clarification_edit_wrapper_#{@clarification.clarification_id}",
      replaceTarget: true
    });

