@import "bootstrap-sprockets";
@import "bootstrap";

@import "shared/jq_modal.scss";
@import "claims.scss";
@import "global.scss";
@import "carousel.css";
@import "dashboard.css";
@import "bootsy";